body{
  background-color: #F0F0F0;
  overflow: hidden;
  padding: 0;
}
.welcome {
  /* width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto 0; */
  background-color: antiquewhite;
}

p {
  /* text-align: center; */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

p:first-child {
  font-size: 20px;
  text-align: center;
}
#map{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  /* background-color: #000 */
}